[submodule "Hazel/thirdparty/spdlog"]
	path = Hazel/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/thirdparty/glfw"]
	path = Hazel/thirdparty/glfw
	url = https://github.com/bnbowman/glfw
[submodule "Hazel/thirdparty/imgui"]
	path = Hazel/thirdparty/imgui
	url = https://github.com/bnbowman/imgui
[submodule "Hazel/thirdparty/glm"]
	path = Hazel/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel/thirdparty/fmt"]
	path = Hazel/thirdparty/fmt
	url = https://github.com/fmtlib/fmt
